name: ROS CI
on:
  workflow_dispatch:
    inputs:
      workspace:
        description: "Workspace to build"
        required: true
        default: "workspace"

jobs:
  build:
    runs-on: ubuntu-22.04  # Especifica la versión exacta
    steps:
      - uses: actions/checkout@v3
      
      # Usar la acción oficial de ROS
      - name: Setup ROS 2 Humble
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble
      
      # Instalar dependencias adicionales si las necesitas
      - name: Install dependencies
        run: |
          source /opt/ros/humble/setup.bash
          sudo apt update
          rosdep update
          rosdep install --from-paths src --ignore-src -r -y
      
      # Compilar tu workspace
      - name: Build
        run: |
          source /opt/ros/humble/setup.bash
          colcon build
      
      # Ejecutar tests
      - name: Test
        run: |
          source /opt/ros/humble/setup.bash
          colcon test