name: ROS CI
on:
  workflow_dispatch:
    inputs:
      workspace:
        description: "Workspace to build"
        required: true
        default: "workspace"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # Instalar ROS 2
      - name: Setup ROS 2 Humble
        run: |
          sudo apt update
          sudo apt install software-properties-common
          sudo add-apt-repository universe
          sudo apt install curl -y
          sudo curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key -o /usr/share/keyrings/ros-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu jammy main" | sudo tee /etc/apt/sources.list.d/ros2.list
          sudo apt update
          sudo apt install ros-humble-ros-base -y
      
      # Compilar tu workspace
      - name: Build
        run: |
          source /opt/ros/humble/setup.bash
          colcon build
      
      # Ejecutar tests
      - name: Test
        run: |
          source /opt/ros/humble/setup.bash
          colcon test